node_modules/

.env
.env.local
.env.development
.env.test
.env.production

*.local

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
out/

.vscode/
.idea/

.DS_Store
Thumbs.db

.cache/

coverage/

*.tgz

package-lock.json
yarn.lock

.editorconfig

.eslintcache

.prettierignore
.prettierrc

.babelrc

tsconfig.json
tsconfig.tsbuildinfo

jest.config.js
jest.setup.js

webpack.config.js

rollup.config.js

anotacoes para criacao do projeto.docx